* {
    margin: 0%;
}

html {
    height: 100%;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 175px;
}

header #logo {
    width: 35%;
}

#Titre_Header {
    color: #BE5B31;
    align-self: center;
    width: 65%;
}

body {
    background-color: #BE5B31;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
}

#Titre_Acceuil {
    color: white;
    text-align: center;
    font-size: 3rem;
}

#login,
#creationCompte,
#creationTicket {
    width: 100%;
    padding: 30px;
    border: 1px solid #000000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#creationMessage {
    width: 700px;
    height: 190px;
    padding: 100px;
    margin-bottom: 70px;
    padding-left: 500px;
    max-width: 200px;

}

textarea {
    max-height: 200px;
    max-width: 400px;
    min-width: 400px;
    min-height: 200px;
}

#condition {
    font-size: small;
}

#container {
    width: 300px;
    height: 350px;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#containerCreat {
    width: 500px;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

#creation {
    text-decoration: none;
}

#avatar {
    width: 150px;
    height: 150px;
}

#textAvatar {
    color: white;
    text-align: center;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: xx-large;
}

#ulTicket li {
    display: inline;
    margin-left: 25px;
}

#titreTicket {
    font-size: larger;
    font-weight: bold;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#statut {
    padding: 30px;

}

table {
    table-layout: fixed;
    border: solid 2px;
    border-collapse: collapse;
    width: 90vw;

}

thead {
    font-size: xx-large;
}

th,
td {
    border: solid 2px;
    height: fit-content;
    overflow-wrap: break-word;
}

#TitrePrincipale {
    color: white;
}
